.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 500px;
  height: 100vh;
  padding: 90px;

  @media (max-width: 768px) {
    padding: 30px 15px;
  }

  .background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 35px;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(180, 212, 123, 1) 100%
    );
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }

    .img-container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 35px 0;
    }

    .triangle-container {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-left: 25px;
      &.left {
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 25px;
      }

      .triangle {
        height: 100%;
        width: 100%;
      }

      .mirrored {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
  }
}
