.phoneNumber {
  display: flex;
  align-items: center;
  align-self: flex-end;
  height: 100%;
  width: 75%;
  margin-bottom: 5px;

  .icon-container {
    margin-right: 5px;
    display: flex;
    align-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 550px) {
    display: none;
  }
}
