* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e76a0b;
}

body {
  font-family: "Caudex", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
